<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Blog | Yogesh bhatt</title>
    <link rel="shortcut icon" type="image/png" href="./static/images/ok.png">
    <style>
      *, *:after, *:before {
	      box-sizing: border-box;
      }
    </style>
	
  </head> 
  <body >
    <!-- Navigation -->
      <div class="scroll-up-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    <nav class="navbar">
      <div class="max-width">
          <div class="logo"><a href="/">Blo<span>g</span></a></div>
          <ul class="menu">
              <li><a href="#contact" class="menu-btn">Contact</a></li>
              <li><a href="https://yogeshbhatt.info.np" class="menu-btn">Portfolio</a></li>
          </ul>
          <div class="menu-btn">
              <i class="fas fa-bars"></i>
          </div>
      </div>
  </nav>
  <br><br><br>
  
    <!-- Page Header -->

    <!-- Main Content -->
    <div class="container">
      <div class="card">
        <div class="card-image"></div>
          <form class="card-form" name="addForm" id="addForm" method="POST" action="{{ url_for('admin.addpost') }}" novalidate>
            <div class="input">
              <input type="text" class="input-field" placeholder="Title" name="title" id="title" required >
            </div>
            <div class="input">
              <input type="text" class="input-field" placeholder="Subtitle" name="subtitle" id="subtitle" required >
            </div>
            <div class="input">
              <input type="text" class="input-field" placeholder="Author" name="author" id="author" required >
            </div>
            <div class="input">
              <textarea rows="2" class="input-field" placeholder="Blog content" name="content" id="content" required ></textarea>
            </div>
            <div class="action">
              <button type="submit" class="action-button" id="sendMessageButton">Send</button>
            </div>
          </form>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
          <div class="post-preview">
            <a href="{{ url_for('B_user.post', post_id=post.id) }}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.subtitle }}
              </h3>
            </a>
            <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
            <form action="{{ url_for('admin.delete') }}" method="POST">
              <input type=hidden value="{{ post.id}}"name="del_id" id="del_id" />
              <button type="submit" onclick="myFunction()" class="action-button2" id="delete" action="">Delete</button>
            </form>
          </div>
          {% endfor %}
          <hr>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer>
      <span>Created By <a href="http://yogeshbhatt.info.np">Yogesh Bhatt</a> | <span class="far fa-copyright"></span> 2020 All rights reserved.</span>
  </footer>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      function myFunction() {
        document.getElementById("myForm").reset();
      }
      </script>
  </body>
</html>
