{% extends "base.html" %}
{% block content %}
{{ ckeditor.load() }}
<head>
    <title>Add post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>


    <div class="add_container">
        <div class="blog-add">
            <div class="card">
            <div class="card-image"></div>
                <form class="card-form" name="addForm" id="addForm" method="POST" action="{{ url_for('admin_B.ap') }}" >
                    <div class="input">
                        <input type="text" class="input-field"  placeholder="Title" name="title" id="title" required>
                    </div>
                    <div class="input">
                        <input type="text" class="input-field" placeholder="Author" value="{{ session['user'] }}" name="author" id="author" required >
                    </div>
                    <div class="input">
                        {{ ckeditor.create() }}
                    </div>
                    <div class="action">
                        <button type="submit" class="action-button" id="sendMessageButton">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}