{% extends "base.html" %}
{% block content %}

<head>
    <title>Add post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>


    <div class="add_container">
        <div class="blog-add">
            <div class="card">
            <div class="card-image"></div>
            {%if 'post_content' in session:%}
                <form class="card-form" name="addForm" id="addForm" method="POST" action="{{ url_for('admin_B.update') }}" >
            {% else %}<form class="card-form" name="addForm" id="addForm" method="POST" action="{{ url_for('admin_B.ap') }}" >{% endif %}
                <div class="input">
                    {%if 'post_title' in session:%}<input type="text" class="input-field" value="{{ session['post_title'] }}" placeholder="Title" name="title" id="title" required> 
                    {% else %}<input type="text" class="input-field"  placeholder="Title" name="title" id="title" required>{% endif %}
                </div>
                <div class="input">
                    {%if 'post_author' in session:%}<input type="text" class="input-field" placeholder="Author" value="{{ session['post_author'] }}" name="author" id="author" required >
                    {% else %}<input type="text" class="input-field" placeholder="Author" value="{{ session['user'] }}" name="author" id="author" required >{% endif %}
                </div>
                <div class="input">
                    {%if 'post_content' in session:%}<textarea rows="2" class="input-field" value="" placeholder="Blog content" required name="content" id="content" >{{ session['post_content'] }}</textarea>
                    {% else %}<textarea rows="2" class="input-field" placeholder="Blog content" name="content" id="content" required ></textarea>{% endif %}
                </div>
                {%if 'post_content' in session:%}
                <div class="input">
                    <input type=hidden value="{{ session['post_id'] }}" name="edit_id" id="edit_id" ></input>
                </div>
                {% endif %}
                <div class="action">
                    {%if 'post_content' in session:%}
                        <button type="submit" class="action-button" id="sendMessageButton">Update</button>
                    {% else %}
                        <button type="submit" class="action-button" id="sendMessageButton">Add</button>
                    {% endif %}
                </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}