
{% extends "base.html" %}
{% block content %}
<title>Contact me</title>
<!-- contact section start -->
      <section class="contact" id="contact">
        <div class="max-width">
            <h2 class="title">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Name</div>
                                <div class="sub-title">Yogesh Bhatt</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head">Address</div>
                                <div class="sub-title">Lahti 15200, Finland</div>
                            </div>
                        </div>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head">Email</div>
                                <span><a style="color: #000000; text-decoration: none; font-size:20px; margin-left: 0px;" href="mailto:bhattyogesh700@gmail.com">bhattyogesh700@gmail.com</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}