{% extends "base.html" %}
{% block content %}
<head>
  <title>Blog | Yogesh bhatt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>

<section class="home" id="home">
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="max-width">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in posts %}
        <div class="post-preview">
            <div class="blog-post">
                <div class="blog-header">
                  <h2>{{ post.title }}</h2>
                  <p class="post-date">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
                </div>
                <div class="blog-content">
                  <p>{{ post.content[:post.content.find(' ', 500)] }}...</p>
                  <br>
                  <a href="{{ url_for('B_user.post', post_id=post.id) }}">
                    <button class="back-button">Read More</button>
                  </a>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
