{% extends "base.html" %}
{% block content %}
<title>{{ post.title }}</title>
<!-- Main Content -->
<section class="home" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h2>{{ post.title }}</h2>
          <h3> {{ post.subtitle }} </h3>

          {{post.content}}

          <hr>
        </div>
        <br>
        <br >
      </div>
      <p class="post-meta">Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
    </div>
  </section>
{% endblock %}