{% extends "base.html" %}
{% block content %}
<head>
  <title>{{ post.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/poststyle.css') }}">
</head>

<!-- Main Content -->
<section class="home" id="home" content="width=device-width">
  <div class="post">
    <button class="basic-button" onclick="goBack()">Back</button>
    <br>
    <br>
    <div class="blog-post">
      <div class="col-lg-8 col-md-10 mx-auto" >
        <h2>{{ post.title }}</h2>
        <p class="date-posted"> Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</p>
        {{post.content | safe}}
      </div>
    </div>
  </div>
</section>
{% endblock %}